.list_housenotes .housename {
    margin-left:35px;
    font-weight: bold;
}
.list_housenotes .field textarea {
    height: 30px
}

.list_housenotes .field {
    margin: 0px
}

.housenote {
  font-size: 12px;
  position: relative;
  min-height: 20px;
  margin: 0;
  padding: 10px 20px 10px 15px;
  border-top: 1px solid #aaaaaa;
}

.housenote .title .dismiss {
  color: #e2e2e2;
  cursor: pointer;
}

.housenote .housenotecontrols {
    float: right;
    margin-top:-3px;  
}


.housenote .title .name {
    margin-left: 5px;
}

.housenote .title .dismiss:hover {
  color: black;
  text-decoration:none;
}

.houses_list_form .inactive {
  background-color:#DDDDDD
}


.house {
  font-size: 12px;
  position: relative;
  min-height: 45px;
  margin: 0;
  padding: 10px 20px 10px 15px;
  border-bottom: 1px solid #aaaaaa;
}

.house a {
    text-decoration: none;
}

.house a:hover {
    text-decoration: underline;
}
  
.house:last-child {
    border-bottom: none;
}

.house .title {
    margin-bottom: 5px;
    margin-right: 20px;
    display: block;
}

.house .title span.name {
    text-decoration: none;
    margin-left: 5px;
    cursor:pointer;
}

.house .title span.name:hover {
    text-decoration: underline;
}
 
.house .content {
    font-size: 11px;
    color: #333;
    margin-left: 22px;
    /* The code below forces webkit to show only 3 lines */
    /*
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    word-wrap: break-word;*/
  }

.house .controls {
    margin-left: 22px;
    margin-top: 5px;
}

.house .controls input {
    cursor:pointer;
}

.house .controls .js-icon-th-list {
    margin-left: 5px;
    cursor:pointer;
}

.house .controls .icon-picture {
    margin-left: 5px;
    cursor:pointer;
}

.house .controls .created_at {
     float: right;
     font-size: 11px;
}   

.house .icon-home {
    border: 1px solid #a0a0a0;
    border-radius: 130px;
  }
  