-// Enter note for house

form
  .errors(style= 'display: none')
  .field
    label Note:
    textarea(id='note', name= 'note', placeholder= "Enter note here")
  .field.submit
      input(type= "submit", value= "Done", id="new_house_submit")
    
