#header
  a.icon-home-header.currentactivelink(href="#", title='Notifications')
    i.icon-bell
  
  - if (Bkg.usersession.isLoggedIn())
    a.manage-houses.js-manage-houses(href="#", title='Manage/Search houses')
      = "Houses"
    span.verticalLine
  
  a.new_conversation.js-new-conversation(href="#", title='Create a new conversation')
    = "New Conversation" 
  
  a.user.js-hover-user(href="#", title='Manage your account') 
    = user.fullName()
  - if (user.get("verified") === true)
    span.user_verified_status
      i.icon-check