.title
  i.icon-th
  - if(model.get("private") == true)
    i.icon-pinterest-circled
  span.name
    != model.get("note")
  
  br
  
  span.housenotecontrols
    span.updated_at
      != model.getDisplayDate()
    span.dismiss   
      i.icon-cancel.js-dismiss(title="Dismiss")
     
    
    
  
  
