.not-logged
  #header
    h2 You are not logged into CA Work Management

  p This extension adds real-time notifications for CA Work Management.
  p <a href= #{localStorage['api_host'] + '/login'}>Login to CA Work Management</a>