-// To let user login


form
  .errors(style= 'display: none')
  .field
    label Login:
    input(id='login', name= 'login', placeholder='Username')
  .field
    label Password:
    input(type='password', id='password', name='password', placeholder='Password')
  .br
  .field
    label 
    input(type= "button", name="btnlogin", value='Login', title='Login')

