#sub_header_manage_houses
  span.count-houses(title="No. of houses in the list")
    ="(" + Bkg.houses.length + ")"
    
  input(id='seach_house', title='Search houses', placeholder='Search houses')
  span.js-add-house(title='Register a new house')
    i.icon-plus
  
  
