#view_manage_houses
  br
  br
  
  
  a.register-property.js-register-property(title='Register a property')
    = "Register property"
  br
  br
      
  a.list-properties.js-list-properties(title='List your manageable properties')
    = "List properties"
      
