#sub_header_manage_houses
  span.js-search-house(title='Search houses')
    i.icon-search
  span.js-add-house(title='Register a new house')
    i.icon-plus
    
  span.count-houses
    = "("
    =window.houses_collection_size
    =")"
    
