#sub_header_manage_houses
  span.count-houses(title="No. of houses in the list")
    = "("
    =window.houses_collection_size
    =")"
    
  input(id='seach_house', title='Enter search keyword')
  span.js-add-house(title='Register a new house')
    i.icon-plus
  
  
