#new_search.new_search
  input.search-input(id='search_box_field', name='search_box_field', type='text', placeholder='Search CA Work Management', autocomplete='off')
  span#search-reset.search-default-icon